fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic-settings==2.11.0
sqlalchemy==2.0.43
pandas==2.3.2
numpy==2.3.3
xarray==2025.4.0
pyarrow==19.0.0
pydantic==2.11.7
netcdf4==1.7.2
geopandas==1.1.1
rioxarray==0.20.0
joblib==1.5.2
xgboost==3.0.5
lightgbm==4.6.0
matplotlib==3.10.6
scikit-learn==1.7.1
